[project]
name = "brainglobe-utils"
authors = [{name = "Adam Tyson", email= "code@adamltyson.com"}]
description = "Shared general purpose tools for the BrainGlobe project"
readme = "README.md"
requires-python = ">=3.9.0"
dynamic = ["version"]

dependencies = [
    "natsort",
    "pandas",
    "psutil",
    "slurmio",
    "configobj",
    "tqdm",
    "PyYAML",
    "scipy",
    "scikit-image",
]

license = {text = "MIT"}

classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
]

[project.urls]
homepage = "https://brainglobe.info"
bug_tracker = "https://github.com/brainglobe/brainglobe-utils/issues"
source_code = "https://github.com/brainglobe/brainglobe-utils"
user_support = "https://github.com/brainglobe/brainglobe-utils/issues"

[project.optional-dependencies]
napari = [
  "napari>=0.4.18",
  "qtpy",
  "superqt"
]

dev = [
  "qtpy",
  "pytest",
  "pytest-cov",
  "pytest-qt",
  "coverage",
  "tox",
  "black",
  "mypy",
  "pre-commit",
  "ruff",
  "setuptools_scm",
  "pyqt5",
  "superqt",
]

slumrmio = [
  "slurmio",

]

[build-system]
requires = [
    "setuptools>=45",
    "wheel",
    "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
include = ["brainglobe_utils*"]
exclude = ["tests", "docs*"]


[tool.pytest.ini_options]
addopts = "--cov=brainglobe_utils"

[tool.black]
target-version = ['py39', 'py310', 'py311']
skip-string-normalization = false
line-length = 79

[tool.setuptools_scm]

[tool.check-manifest]
ignore = [
  ".yaml",
  "tox.ini",
  "tests/",
  "tests/test_unit/",
  "tests/test_integration/",
  "docs/",
  "docs/source/",
]


[tool.ruff]
line-length = 79
exclude = ["__init__.py","build",".eggs"]
select = ["I", "E", "F"]
fix = true

[tool.mypy]
ignore_errors = true

[[tool.mypy.overrides]]
module = ["imlib.cells.*"]
ignore_errors = false
strict = true
